@media only screen and (max-width: 720px){
    .main_content_2{
        width: 90%;
        margin: auto;
    }
     #secondQueue{
         position: absolute;
         visibility: hidden;
     }
   
    .btn-second{
    width: 25%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 0.6rem;
    font-weight: 400;
    border: none;
    color: white;
    background-color: #030338;
}
        
 }
    @media only screen and (max-width: 520px){
    .firstBanner{
     width: 100%;
     background-color: blueviolet;
 }
 .secondBanner{
     position: absolute;
     visibility: hidden;
 }
    }